<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.pro.hashi.ensino.desagil.projeto1">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PreDict"
            android:label="Escolha o dicionário"
            android:launchMode="singleTask" />
        <activity
            android:name=".PreHistoria1"
            android:label="Escolha sua frase"
            android:launchMode="singleTask" />
        <activity
            android:name=".Historia5"
            android:label="Traduza seu morse"
            android:launchMode="singleTask" />
        <activity
            android:name=".Historia4"
            android:label="Traduza seu romano"
            android:launchMode="singleTask" />
        <activity
            android:name=".Historia2"
            android:label="Escreva seu texto"
            android:launchMode="singleTask" />
        <activity
            android:name=".Historia3"
            android:label="Envie seu texto"
            android:launchMode="singleTask" />
        <activity
            android:name=".Historia1"
            android:label="Texto"
            android:launchMode="singleTask" />
        <activity android:name=".MainActivity"
            android:label="Página inicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>